.body {
  width: 630px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}
.icons {
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  img {
    display: block;
    width: 20px;
  }
}
.price:before {
  display: block;
  content: "";
  border-left: 1px solid #dde3ee;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.endpointOrigin {
  width: 113px;
  display: flex;
  flex-direction: column;
}
.endpointDestination {
  width: 116px;
  margin-left: 35px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.time {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  color: #232323;
}
.city {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5c5c5c;
}
.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5c5c5c;
}

.duration {
  height: 56px;
  width: 278px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #b7bac1;
  border-radius: 10px;
}

.flex {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b7bac1;
  position: relative;
}
.flex:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c4c4c4;
}
.flex:after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c4c4c4;
}
