.card {
  width: 980px;
  height: 200px;
  padding: 35px 30px 35px 23px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
  border-radius: 15px;
  position: relative;
}

.card:after {
  display: block;
  content: "Невозвратный";
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background: #8ba5d8;
  border-radius: 15px 0px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  padding: 0 20px;
}
